body {
  font-size: 9pt;
}

main {
  width: 100%;
}

img {
  max-width: inherit;
}

header h1 {
  margin-top: 1%;
  font-size: 27pt;
  width: 75%;
}

header p {
  font-size: 18pt;
}

h2 {
  font-size: 9pt;
}

#page1,
#page2 {
  grid-row-gap: 20px;
}

#page1 hr {
  background-color: inherit;
  border: 1.25px solid #9e9e9e;
  width: 0;
  z-index: 1;
}

#information a {
  text-decoration: none;
}

#graph #competence {
  position: relative;
  left: -25px;
}

#graph #atout {
  position: relative;
  left: -9px;
}

#graph svg text {
  font-size: 7pt !important;
}

#loisir h2 + div {
  flex-wrap: nowrap;
}

#page2 {
  page-break-before: always;
}

/***  RATTRAPAGE EDGE < 16 ET IE  ***/
.edge #page1 > div {
  margin-top: 12px;
}

.edge header h1 {
  margin-top: 0;
}

.edge header img {
  width: 160px;
  height: 160px;
}

.edge #graph #competence {
  left: -60px;
}

.edge #graph #atout,
.ie #graph #atout {
  position: inherit;
  left: inherit;
}

.edge #loisir img[src*='avion'],
.edge #loisir img[src*='yinyang'] {
  width: 70px;
  height: 70px;
}

.edge #loisir img[src*='op'],
.edge #loisir img[src*='hs'] {
  width: 80px;
  height: 80px;
}

.edge #loisir img[src*='pp'] {
  width: 100px;
  height: 80px;
}
