/*****  FONTS  *****/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(../../lib/npm-font-open-sans/fonts/Bold/OpenSans-Bold.woff2)
      format('woff2'),
    url(../../lib/npm-font-open-sans/fonts/Bold/OpenSans-Bold.woff)
      format('woff');
  unicode-range: U+0000-00ff;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(../../lib/source-sans-pro/WOFF2/TTF/SourceSansPro-Regular.ttf.woff2)
      format('woff2'),
    url(../../lib/source-sans-pro/WOFF/OTF/SourceSansPro-Regular.otf.woff)
      format('woff');
  unicode-range: U+0000-00ff;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(../../lib/source-sans-pro/WOFF2/TTF/SourceSansPro-Bold.ttf.woff2)
      format('woff2'),
    url(../../lib/source-sans-pro/WOFF/OTF/SourceSansPro-Bold.otf.woff)
      format('woff');
  unicode-range: U+0000-00ff;
}

/*****  GENERAL  *****/
* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px */
  font-size: calc(1em * 0.625); /* Fix IE9-IE11 */
}

body {
  color: #767676;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
}

h2 {
  color: #ec130f;
  font-family: 'Open Sans';
  font-size: 2rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

#page1 hr {
  background-color: #797676;
  border: none;
  width: 0.2%;
  height: auto;
}

img {
  max-width: 100%;
}

.no-js img.lazyload {
  display: none;
}

noscript {
  display: block;
  text-align: center;
}

/*****  POSITIONNEMENT  *****/
main {
  margin: auto;
  max-width: 1080px;
}

#page1 {
  display: grid;
  grid-row-gap: 30px;
}
/***  RATTRAPAGE EDGE < 16 ET IE  ***/
.edge #page1 > div,
.ie #page1 > div {
  margin-top: 30px;
}

#information,
#graph,
#loisir h2 + div {
  display: flex;
  flex-wrap: wrap;
}

#information,
#graph {
  justify-content: space-between;
}

#information .professionnelle div p:first-of-type {
  display: flex;
  justify-content: space-between;
}

#information > section {
  flex-basis: 30%;
}

#graph section {
  width: 49%; /*  Hack pour l'impression (Obliger de mettre width au lieu de flex-basis)    */
}

#loisir h2 + div {
  justify-content: space-around;
  align-items: flex-end;
}

/*****  PAGE 1  *****/
/***  BLOC HEADER ET FOOTER  ***/
header,
#loisir {
  text-align: center;
}

header h1 {
  padding: 1%;
  margin: 4% auto auto;
  color: #333333;
  font-size: 4rem;
  border: 2px solid #333333;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 65%;
}

header p {
  font-size: 3rem;
}

header img {
  border-radius: 50%;
}

/***  BLOC INFORMATION  ***/
#information > section > div + div {
  margin-top: 10%;
}

#information .professionnelle p {
  margin: 2% 0;
}

#information .professionnelle {
  text-align: center;
}

#information .scolaire {
  text-align: right;
}

#information address,
#information .professionnelle strong {
  color: #333333;
}

#information img {
  vertical-align: middle;
}

#information img[src*='phone'] {
  margin-left: 2px;
}

#information a {
  color: inherit;
}

#information a[href^='tel'] {
  margin-left: 8px;
}

#information img[src*='mail'] + span {
  margin-left: 5px;
}

/***  BLOC GRAPHIQUE  ***/
#graph h2 {
  margin-bottom: 0;
  padding-right: 10%;
  text-align: right;
}

#graph section ~ section h2 {
  padding-right: 0;
  padding-left: 10%;
  text-align: left;
}

/***  BLOC CENTRES D'INTERÊT  ***/
#loisir figure {
  margin-top: 0;
}

/*****  RESPONSIVE  *****/
@media only screen and (max-width: 1080px) {
  main {
    margin: 0 3%;
  }
}

@media only screen and (max-width: 1024px) {
  #graph section {
    flex-basis: 49%;
    width: inherit;
  }
}

@media only screen and (max-width: 960px) {
  #information > section {
    flex-basis: 40%;
  }

  #information {
    justify-content: center;
  }

  #information .professionnelle + hr {
    display: none;
  }

  #information .generale {
    order: 1;
  }

  #information .generale + hr {
    order: 2;
  }

  #information .scolaire {
    order: 3;
  }

  #information .professionnelle {
    order: 4;
  }

  #graph {
    justify-content: center;
  }

  #graph section {
    flex-basis: 80%;
  }

  #graph hr {
    display: none;
  }

  #graph h2,
  #graph section ~ section h2 {
    padding: 0;
    text-align: center;
  }

  #loisir h2 + div {
    justify-content: center;
  }

  #loisir figure {
    flex-basis: 24%;
  }
}

@media only screen and (max-width: 700px) {
  #information section {
    flex-basis: 45%;
  }

  #loisir h2 + div {
    justify-content: space-around;
  }

  #loisir figure {
    flex-basis: inherit;
  }
}

@media only screen and (max-width: 550px) {
  main {
    margin: 0;
  }

  #information section {
    flex-basis: 65%;
  }

  #information > hr {
    height: 0;
    width: 60%;
    border: 1px solid #9e9e9e;
  }

  #information .generale,
  #information .scolaire {
    text-align: center;
  }

  #information .professionnelle + hr {
    display: inherit;
    order: 4;
  }

  #information .professionnelle {
    order: 5;
  }

  #graph section {
    flex-basis: 90%;
  }
}

@media only screen and (max-width: 400px) {
  header p {
    padding: 0 10%;
  }

  #information section {
    flex-basis: 90%;
  }

  #information > hr {
    width: 75%;
  }

  #graph section {
    flex-basis: 99%;
  }
}

@media only screen and (max-width: 360px) {
  header h1 {
    font-size: 3.5rem;
    width: 80%;
  }

  header p {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 320px) {
  header p {
    padding: 0 6%;
  }
}
